:root {
  --light-color: rgb(245, 229, 215);
  --dark-color: rgb(70, 70, 70);
  --main-font: "PT Serif", serif;
}

body {
  background-image: url("https://images.unsplash.com/photo-1511467687858-23d96c32e4ae?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1600&q=80");
}

header {
  color: var(--light-color);
  font: var(--font);
  font-size: 80px;
  text-align: center;
  background-color: rgba(128, 128, 128, 0.583);
  text-shadow: 4px 4px var(--dark-color);
}

h3 {
  color: var(--light-color);
  text-shadow: 1px 3px var(--dark-color);
}

/* not needed to work but if I have time */
/* main {
  padding-bottom: 200px;
} */

h3,
h5 {
  font-family: var(--main-font);
}

h5 {
  color: var(--dark-color);
  text-shadow: 1px 1px var(--light-color);
}
